<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>madnote</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- DB CONNECTION VALUES BEGIN HERE
	
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>postgres</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>pass1234</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbURL</param-name>
		<param-value>jdbc:postgresql://localhost:5432/madnotes</param-value>
	</context-param>
	
	DB CONNECTION VALUES END HERE -->

	<servlet>
		<servlet-name>Signin</servlet-name>
		<servlet-class>com.devcru.madnotes.Signin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Signin</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.devcru.madnotes.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.devcru.madnotes.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>com.devcru.madnotes.UpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/updateprofile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddNote</servlet-name>
		<servlet-class>com.devcru.madnotes.AddNote</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNote</servlet-name>
		<url-pattern>/addnote</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteNote</servlet-name>
		<servlet-class>com.devcru.madnotes.DeleteNote</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteNote</servlet-name>
		<url-pattern>/deletenote</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditNote</servlet-name>
		<servlet-class>com.devcru.madnotes.EditNote</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditNote</servlet-name>
		<url-pattern>/editnote</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowContent</servlet-name>
		<servlet-class>com.devcru.madnotes.ShowContent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowContent</servlet-name>
		<url-pattern>/showcontent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadImage</servlet-name>
		<servlet-class>com.devcru.madnotes.UploadImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadImage</servlet-name>
		<url-pattern>/uploadimage</url-pattern>
	</servlet-mapping>

	<!-- SESSION CONFIGURATION -->
	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>

</web-app>